<form class="home-new-sequence-form">
  <h3>Create a new sequence</h3>
  <br/>
  <div>
    <div class="row">
      <div class="col-md-7">
        <input type="text" name="name" placeholder="Sequence name" class="form-control"/>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-7">
        <textarea class="form-control" placeholder="Enter sequence" name="sequence" rows="5" required="required"></textarea>
        <br/>
      </div>
      <div class="col-md-4">
        <p class="help-block">
          You can enter or paste sequence data in plain text, FASTA, GenBank, or SYBIL format.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <input type="submit" value="Create sequence" class="btn btn-default"/>
      </div>
    </div>
  </div>
</form>