<form class="home-new-sequence-form">
  <h3>Create a new sequence</h3>
  <br/>
  <div>
    <div class="row">
      <div class="col-md-7">
        <input type="text" name="name" placeholder="Sequence name" class="form-control"/>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-7">
        <textarea class="form-control" placeholder="Paste sequence data in these formats: plain text, FASTA, GenBank, or SYBIL" name="sequence" rows="5" required="required"></textarea>
        <br/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <input type="submit" value="Add sequence to GENtle Editor" class="btn btn-default"/>
      </div>
    </div>
  </div>
</form>