<form class="home-open-file-form">
  <h3>Upload Sequence</h3>
  <div>
  
    <div class="row">
      <div class="col-md-10">
        <p class="help-block">
          Accepted formats: plain text, FASTA, GenBank or SYBIL. The file name will become the sequence name.
          <br />
          <br />
        </p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-11">
        <div class="drag-drop-box">
          <span>Drag and drop</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">&nbsp;</div>
      <div class="col-md-8">
          <div style="display: inline-block; padding-top: 7px;">Or, upload sequence &nbsp;</div>
          <a href="#" class="btn btn-primary pull-right">Choose file</a>
          <input type="file" name="file" class="form-control" required="required" multiple style="display: none;"/>
      </div>
    </div>

  <div class="fullscreen-filedropzone">
    <div class="fullscreen-filedropzone-label">
      Drop files here to add them to Gentle
    </div>
  </div>

  
