<div class="row">
  <div class="home-screen-holder">
    <div class="col-md-6" id="home-left-col">
      <div class="home-new-sequence">
      </div>
    </div>
    <div class="col-md-6" id="home-right-col">
      <div class="row">
        <div class="home-ncbi">

        </div>
      </div>
      <hr />
      <div class="row">
        <div class="home-open-file">
        
        </div>
      </div>
    </div>
  </div>
</div>
