.sequence {
  border-top: none !important;
  color: #bbb;
  font: 10px Monospace;
  font-size: 12px;
  letter-spacing: 1px;
  padding-top: 0;
}

.selectable-sequence {
  font-family: Monospace;
  background-color: white !important;
  cursor: text !important;
}

.selectable-sequence-orientation {
  font: 12px Monospace;
}