<div class="sequence-sidebar">
</div>
<div class="sequence-canvas-wrapper">
  <div class='sequence-canvas-container'>
    <canvas id='canvas_{{id}}' class="sequence-canvas" />
  </div>
  <div class='scrolling-parent'>
    <div class='scrolling-child'></div>
  </div>
</div>