
<a href='#sequence-settings-tab' class='sequence-settings-tab-link'>
  <i class="glyphicon glyphicon-cog"></i>&nbsp;
  <span>Sequence settings</span>
</a>
<div id='sequence-settings-tab' class='sequence-settings-tab'>
  Blabla
</div>

<a href='#sequence-display-settings-tab' class='sequence-settings-tab-link'>
  <i class="glyphicon glyphicon-eye-open"></i>&nbsp;
  <span>Display settings</span>
</a>
<div id='sequence-display-settings-tab' class='sequence-settings-tab'>
  <dl class="dl-horizontal">
    <dt>Rows</dt>
    <dd>
      <div class="checkbox floating floating-half">
        <label>
          <input type="checkbox" name="displaySettings.rows.numbering" value="true"/>
          Numbering
        </label>
      </div>
      <div class="checkbox floating floating-half">
        <label>
          <input type="checkbox" name="displaySettings.rows.features" value="true"/>
          Annotations
        </label>
      </div>
      <div class="checkbox floating floating-half">
        <label>
          <input type="checkbox" name="displaySettings.rows.complements" value="true"/>
          Complements
        </label>
      </div>
      <div class="checkbox floating floating-half">
        <label>
          <input type="checkbox" name="displaySettings.rows.separators" value="true"/>
          Separators
        </label>
      </div>
    </dd>
  </dl>
  <div class="clearfix"></div>
  <dl class="dl-horizontal">
    <dt>Aminoacids</dt>
    <dd>
      <div class="radio floating floating-third">
        <label>
          <input type="radio" name="displaySettings.rows.aa" value="none"/>
          None
        </label>
      </div>
      <div class="radio floating floating-third">
        <label>
          <input type="radio" name="displaySettings.rows.aa" value="long"/>
          Long
        </label>
      </div>
      <div class="radio floating floating-third">
        <label>
          <input type="radio" name="displaySettings.rows.aa" value="short"/>
          Short
        </label>
      </div>
      <div class="floating floating-third">Offset:</div>
      <div class="radio floating floating-fifth">
        <label>
          <input type="radio" name="displaySettings.rows.aaOffset" value="0"/>
          0
        </label>
      </div>
      <div class="radio floating floating-fifth">
        <label>
          <input type="radio" name="displaySettings.rows.aaOffset" value="1"/>
          1
        </label>
      </div>
      <div class="radio floating floating-fifth">
        <label>
          <input type="radio" name="displaySettings.rows.aaOffset" value="2"/>
          2
        </label>
      </div>
    </dd>
  </dl>
  <div class="clearfix"></div>
</div>

<a href='#sequence-tools-tab' class='sequence-settings-tab-link'>
  <i class="glyphicon glyphicon-wrench"></i>&nbsp;
  <span>Tools</span>
</a>
<div id='sequence-tools-tab' class='sequence-settings-tab'>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat libero ut molestie congue. Ut bibendum dolor ligula, quis rutrum orci tempor eu. Vestibulum pellentesque leo ante, eu placerat quam interdum tincidunt. Nullam aliquet quis tortor a sagittis. Maecenas fringilla, sem placerat euismod euismod, elit tortor vestibulum est, vitae scelerisque justo est id massa. Phasellus posuere sed ipsum in suscipit. Curabitur at sapien molestie, porta tellus id, dapibus nisl. Vivamus semper elit nec aliquam sollicitudin. Donec scelerisque diam id nulla porta volutpat.

Morbi luctus risus erat, eget porta quam ornare iaculis. Sed at euismod sem. Curabitur hendrerit vehicula libero, in pharetra tortor sollicitudin eget. In hac habitasse platea dictumst. Cras suscipit quis justo quis faucibus. Proin congue accumsan adipiscing. Donec facilisis, lacus a dictum pretium, risus justo elementum velit, ac semper eros justo sed felis. Aliquam vestibulum sit amet mauris sed pharetra. Nullam quis nunc orci. Sed sodales turpis id diam viverra, eget aliquet turpis dignissim. Donec porttitor vel enim nec tristique. Nulla tincidunt vestibulum lorem, quis gravida leo luctus eget. Vivamus vestibulum malesuada nisl non luctus.

Duis tincidunt, dui sit amet lacinia rutrum, tellus urna sollicitudin risus, vel volutpat odio eros vitae metus. Suspendisse vehicula nulla quis mi imperdiet aliquam. Duis mi tellus, ultrices non facilisis quis, bibendum ac magna. Curabitur porta rhoncus massa, vel lacinia ligula convallis ut. Pellentesque porttitor, velit ac mollis facilisis, ligula urna consequat mi, et malesuada nunc augue sit amet risus. Proin vitae arcu a velit porttitor ullamcorper. Maecenas aliquet vestibulum enim, non adipiscing leo mollis vitae. Cras nisl dolor, hendrerit sit amet pulvinar at, pharetra eu ipsum.

Aenean auctor viverra gravida. Ut fringilla iaculis ante, a egestas libero aliquam id. Quisque eleifend posuere gravida. In adipiscing, purus non convallis sollicitudin, lorem sapien dapibus libero, in commodo eros enim ac purus. Suspendisse at interdum enim, ac sodales est. Proin ornare lacus eu nisi euismod, at venenatis elit dignissim. Nam ut dui erat. Morbi non iaculis diam. Aliquam quis sapien metus. Donec sit amet ipsum tempus, fermentum nibh non, tincidunt nulla. Praesent eget felis et mauris vestibulum bibendum. Morbi eu quam sagittis, gravida mi a, euismod risus. Nullam et elementum mauris, sit amet fermentum elit. Ut vel egestas magna. Curabitur non scelerisque augue, eget dictum neque.

Mauris sit amet mauris odio. Duis sit amet felis sagittis nisl venenatis luctus sit amet non purus. In dignissim dui a vulputate scelerisque. Sed eu dui facilisis eros congue venenatis. Donec et metus sollicitudin, tempus tortor vitae, tincidunt mauris. Suspendisse lacus sem, gravida vel massa non, fringilla vestibulum sem. Phasellus consectetur nisi in tellus tempor, vel dapibus mauris varius. Donec porta eros erat, nec ullamcorper felis mattis rutrum.
  </p>
</div>