<div><h6>{{sequence.name}}</h6></div>

<div class="designer-available-sequence-features">
  {{#each features}}
    <div class="designer-available-sequence-feature" data-feature-id="{{id}}-{{sequence}}">
      {{name}}
    </div>
  {{/each}}
</div>