<div>
{{#each sequence}}
<h6>{{name}}</h6>

<div class="designer-available-sequence-entireseq">
{{#unless hidden}}
<div class="designer-available-sequence-feature" data-entireSeq-id="{{id}}">Entire Sequence</div>
{{/unless}}

</div>

{{/each}}
<div class="designer-available-sequence-features">
  {{#each features}}
    <div class="designer-available-sequence-feature" data-feature-id="{{id}}">
      {{name}}
    </div>
  {{/each}}
</div>