{{#if empty}}

  <div class="designer-designed-sequence-empty-placeholder">
    Drag sequences in from the lists below
  </div>

{{else}}

  <div class="designer-diagnostic"></div>
  <div class="designer-designed-sequence-chunks">
    {{#each sequences}}
      {{> designer-draggable id=id name=name partType=partType}}
    {{/each}}
  </div>

{{/if}}

