<div class="designer-designed-sequence-outlet">
</div>
<div class="designer-available-sequences">
  {{#each availableSequences}}
    <div class="designer-available-sequence-outlet" data-sequence-id="{{.}}">
    </div>
  {{/each}}
</div>