{{#if empty}}

  <div class="designer-designed-sequence-empty-placeholder">
    <div>
      Drag parts in from the lists below
    <div>
  </div>

{{else}}

  <div class="designer-diagnostic"></div>
  <div class="designer-designed-sequence-chunks">
    {{#each sequences}}
      {{{designer-draggable .}}}
    {{/each}}
  </div>

{{/if}}

