<input type="file" novalidate class="file-upload-input" multiple style="display: none;"/>

<div class="designer-header">
  <div class="pull-right">
    <button class="btn btn-primary assemble-sequence-btn">Assemble circuit</button>
  </div>
  <h4>{{sequenceName}}</h4>
</div>


<div class="designer-designed-sequence-outlet">
</div>


<div class="fullscreen-filedropzone">
  <div class="fullscreen-filedropzone-label">
    Drop files here to add them to the lists of available sequences
  </div>
</div>


<div class="designer-available-sequences-container">

  {{#unless emptyAvailableSequences}}

  {{!-- Remove for rainbow kit --}}
  {{!--
    <div class="designer-available-sequences-header">
      <div class="pull-right">
        <button class="btn btn-default btn-xs designer-available-sequences-clear-all">
          Clear all
          <strong style="font-size: 17px; display: inline-block; margin-top: -7px; line-height: 22px;">&nbsp;&times;</strong>
        </button>
      </div>
      <h5 class="pull-left">
        Available parts
      </h5>
      <div class="pull-left form-group has-feedback designer-available-sequences-filter">
        <input type="text" class="form-control input-sm" placeholder="Search parts listed below">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
        <span class="glyphicon glyphicon-remove designer-available-sequences-filter-clear form-control-feedback hide"></span>
      </div>

    </div>
      --}}


    <div class="designer-available-sequences-outlet outlet-1"></div>
    <div class="designer-available-sequences-outlet outlet-2"></div>
    {{!-- <div class="designer-available-sequences-outlet outlet-3"></div> --}}


  {{else}}

    <div class="designer-empty-available-sequences">
      <div>
        <div>
          <h3>Drag and drop new parts</h3>
          or <button class="fake-btn-link designer-trigger-file-upload-input">choose files</button>
        </div>
      </div>
    </div>

  {{/unless}}

</div>

<div class="designer-plasmid-map-container">
  <div class="designer-plasmid-map-outlet"></div>
</div>

{{!-- Removed for rainbow kit --}}
{{!-- {{#unless emptyAvailableSequences}}

  <div class="designer-add-available-sequences designer-trigger-file-upload-input">
    <h4>
      <span class="designer-add-available-sequences-icon">+</span>
      Add new parts
    </h4>
    Drag and drop
    <br>
    <small>
      or
      <button class="fake-btn-link">choose files</button>
    </small>
  </div>

{{/unless}} --}}
