<form class="home-designer-form">
  <h3>Create a new sequence in the designer</h3>
  <br/>
  <div>
    <div class="row">
      <div class="col-md-7">
        <input type="text" name="name" placeholder="Sequence name" class="form-control"/>
      </div>
    </div>
    <br/>
    </div>
    <div class="row">
      <div class="col-md-7">
        <input type="submit" value="Create sequence" class="btn btn-default"/>
      </div>
    </div>
  </div>
</form>