<form class="home-designer-form">
  <h3>Create a new RDP circuit</h3>
  <br/>
  <div>
    <div class="row">
      <div class="col-md-7">
        <input type="text" name="name" placeholder="RDP circuit name" autofocus class="form-control" required="required"/>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class='col-md-7'>
        <button href="#" class="btn btn-primary">Create circuit</button>
        <input type="file" novalidate name="file" class="form-control" multiple style="display: none;"/>
      </div>
    </div>
  </div>
</form>