/* COPY THIS FILE TO "config.js", AND MODIFY ONLY THAT FOR YOUR LOCAL INSTALLATION! */

var gentle_config = {

	default_plugins : [
		'plugins/synbiota.js' ,
		'plugins/find_in_sequence.js' ,
		'plugins/prepend_append_sequence.js' ,
		'plugins/export_as_file.js'
	] ,
	
	deactivated_plugins : [
	]
	
} ;
