.container-fluid > .sidebar {
    position: absolute;
    top: 0;
    left:auto;
    width: 220px;
}

/*
.left {
    float:left;
    width:220px;
}
*/

.right {
    float:right;
    width:120px;
}

.fixed-fluid {
/*    margin-left: 240px;*/
}
.fluid-fixed {
    margin-right: 240px;
    margin-left:auto !important;
}
.fixed-fixed {
/*    margin: 0 240px;*/
}
​




html, body {
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
	padding:0px;
	margin:0px;
}

h1 {
	margin-top:0px;
	padding-top:0px;
}

.mainbox {
	position:fixed;
	border:2px solid #CCCCCC;
	overflow:none;
	padding:2px;
	box-shadow: 5px 5px 3px #888;
	background-color:white;
}

#load_files {
	font-size:9pt;
}

#drop_zone {
	z-index:99;
	position:fixed;
	left:25%;
	right:25%;
	top:25%;
	bottom:25%;
	border:3px dashed #DDDDDD;
	margin:5px;
	text-align:center;
	vertical-align:middle;
	font-size:14pt;
	background-color:#EEEEEE;
	line-height:4em;
	display:none;
}

/*
#sb_log {
	font-size:8pt;
	overflow-y:auto;
	display:none;
}

#sb_log p {
	margin:0px;
	padding:0px;
	margin-top:2px;
	padding-top:1px;
	border-top:1px solid #EEEEEE;
}
*/

#sb_sequences_container {
	font-size:9pt;
}

#sb_sequences {
	overflow:auto;
}

#canvas_wrapper {
	position:relative;
	overflow:auto;
}

#main_slider {
}

#sequence_canvas {
	position:fixed;
	width:100%;
	height:100%;
}

#seq_functions {
	float:right;
	font-size:9pt;
}

#seq_functions_seq_only {
	display:none;
}

.left_sidebar_box {
	margin-top:5px;
	border-top:1px solid #DDDDDD;
	padding-top:2px;
}


#display_settings_table th {
	vertical-align:top;
}



.vtext {
/*	writing-mode:tb-rl;*/
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform: rotate(-90deg);
 	-moz-transform-origin: 50% 50%;
	-o-transform-origin:  bottom left;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.feature {
	position:absolute;
	font-size:8pt;
	font-family:Verdana,Times;
	border:thin solid black;
	z-index:2;
	width:15px;
	color:white;
	overflow:hidden;
}

.feat_other {
	background-color:#DDDDDD;
	left:35px;
	color:black;
}

.feat_gene {
	background-color:blue;
	left:60px;
}

.feat_cds {
	background-color:red;
	left:85px;
}

.feat_promoter {
	background-color:black;
	left:85px;
}

.top_display_icon {
/*	display:block;
	margin-right:5px;*/
}


#zoombox {
	position:fixed;
	right:20px;
	top:60px;
	z-index:99;
}


#top_zone {
	position:relative;
	overflow:auto;
}

.pos_marker {
	position:absolute;
	font-size:6pt;
	font-family:Verdana,Times;
	z-index:2;
	border-top:1px solid #999999;
	color:black;
	padding-top:0px;
	margin-top:0px;
	padding-left:5px;
}

#top_zone_marker {
	z-index:0;
	position:relative;
	background-color:#FFFFC8;
	border:none;
	cursor:move;
	right:0px;
}




#sb_display_options {
	font-size:10pt;
	display:none;
}

#re_manual {
	width:100%;
	max-width:190px;
}

label {
	display:inline;
}

#hoverbox {
	position:fixed;
	right:0px;
	bottom:0px;
	background:white;
	z-index:99;
	padding:2px;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}





/* The cut/copy operation textarea */
#copywrap {
	color:white;
	background-color:white;
	display:none;
	position:fixed;
	right:0px;
	bottom:0px;
}
#copytb {
	color:white;
	background-color:white;
	border:none;
}

/*
::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
*/

/* For help.html */
pre.jscode {
	border:3px dotted #AAAAAA;
	padding:5px;
	margin:5px;
	background-color:#EEEEEE;
}

/* For bootstrap checkboxes */
.btn-group input {
    display: none;
}

.btn-group .first-btn {
     /* This is an actual copy/paste of the .btn-group .btn:first-child style */
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}

.btn-group input:checked + .btn {
    /* This is an actual copy/paste of the .btn:active style */
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.5);
    outline: 0 none;
}

.btn-group input:disabled + .btn {
    /* This is an actual copy/paste of the .btn:disabled style */
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}
​