doctype html
html(lang="en")
  head
    link(rel="stylesheet" media="all" href="stylesheets/app.css")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
    title GENtle 3
  body#wrapper
    #intro-loader.loader
      p.lead.text-muted
        span Loading...
        i.glyphicon.glyphicon-refresh

    if env == 'development'
      script(data-main="scripts/app" src="vendor/scripts/require.js")
      script(type="text/javascript" src="scripts/require.config.js")
    else
      script(data-main="scripts/app.min" src="vendor/scripts/require.js")
