doctype html
html(lang="en")
  head
    link(rel="stylesheet" media="all" href=stylePath)
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
    title GENtle 3
  body#wrapper
    #intro-loader.loader
      p.lead.text-muted
        span Loading...
        i.glyphicon.glyphicon-refresh


    script(type="text/javascript" src=vendorPath)
    script(type="text/javascript" src=appPath)
    script(type="text/javascript" src="//widget.uservoice.com/RAfn1r1Ta0EPTZ5MypKQ.js")

