<div class="input-group {{#if requiredTerm}}has-error{{/if}}">
      <input type="text" class="form-control" id="search-term">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="start-search">
        <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </span>
</div><!-- /input-group -->

{{#if searchResult}}
<div class="list-group" id="sequence-match-list">
        {{#each ranges}}
        <a href="#" class="list-group-item sequence-search-link" data-range-From="{{from}}" data-range-To="{{to}}">
                  <code>@{{formatThousands from 1}}-{{formatThousands to 1}}</code>
        </a>
        {{/each}}
    </div>
{{/if}}