<form class="home-pcr-form">
  <h3>Create a new RDP part</h3>
  <p>
    Select the source sequence for the new RDP part.
  </p>
  <p>
    NOTE: Ensure that the source sequence is valid, and has no BsaI or NotI sites before this step.
  </p>
  <br/>
  <div class="row">
    <div class='col-md-7'>
      <button href="#" class="btn btn-default">Select source sequence for new RDP part</button>
      <input type="file" novalidate name="file" class="form-control" style="display: none;"/>
    </div>
  </div>
</form>