<div class="row">
  <div class="col-xs-12 text-center">
    {{#if isOligo}}
      <img src="images/new-rdp-part_onboarding-help/content_oligo.svg" style="width: 60%" />
    {{else}}
      <img src="images/new-rdp-part_onboarding-help/content_PCR.svg" style="width: 60%" />
    {{/if}}
  </div>
</div>
<div class="row" style="margin-bottom: -15px;">
  <div class="col-xs-12 text-right">
    <button class="btn btn-default new-rdp-part_onboarding-help-continue">Continue</button>
  </div>
</div>

<br>

<div class="modal-footer text-left">
  <div class="checkbox" style="margin: 0;">
    <label>
      <input type="checkbox" name="showNextTime" checked="checked" value="show"> Show this dialog the next time I make a new RDP part
    </label>
  </div>
</div>
