<div class="row"> 
  <div class="col-xs-12 text-center">
    <strong>Since your source sequence is...</strong>
    <br>
    <br>
    <img src="images/new-rdp-part_onboarding-help/source-sequence.svg" />
    <br>
    <br>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 text-center">
    {{#if isOligo }}
      <img src="images/new-rdp-part_onboarding-help/selected-oligo.svg" style="width: 90%" />
    {{else}}
      <img src="images/new-rdp-part_onboarding-help/oligo.svg" style="width: 90%" />
    {{/if}}
  </div>
  <div class="col-xs-6 text-center">
    {{#if isOligo}}
      <img src="images/new-rdp-part_onboarding-help/PCR.svg" style="width: 90%" />
      
    {{else}}
      <img src="images/new-rdp-part_onboarding-help/selected-PCR.svg" style="width: 90%" />
    {{/if}}
  </div>
</div>

<br>

<div class="modal-footer text-left">
  <div class="checkbox" style="margin: 0;">
    <label>
      <input type="checkbox" name="showNextTime" checked="checked" value="show"> Show this dialog the next time I make a new RDP part
    </label>
  </div>
</div>
