<div id="pcr-list-outer-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 pcr-view-container"></div>
      <div class="col-md-12 pcr-view-container2"></div>
    </div>
  </div>
</div>
<div id="pcr-canvas-container"></div>
