<h3>Create new RDP part</h3>
<br>
<div class="new-pcr-progress">
  <p class="progress-text text-muted">
    Please wait while we calculate the best primers for the new RDP part
  </p>
  <div class="progress initial-progress">
    <div class="progress-bar" role="progressbar"></div>
  </div>

  <div class="fallback-progress" style="display: none;">
    <p class="progress-text text-muted">
      Attempting second search for optimal primer
    </p>
    <div class="progress">
      <div class="progress-bar" role="progressbar"></div>
    </div>
  </div>
</div>

<div class="new-pcr-progress-error text-danger" style="display: none;">
  Sorry, there was an error creating your RDP part primers.  Please try again.  If this problem persists, please contact <a href="support@synbiota.com">support@synbiota.com</a>
  <br>
  <br>
  <button class="retry-create-pcr-primer btn btn-default">Retry</button>
</div>