.blast, #blast-intro-container, #blast-canvas-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}

#blast-intro-container {
  border-right: 1px solid #ddd;
  right: 50%;

  tr {
    &.noborder > td {
      border: 0;
    }

    &.clickable {
      td {
        cursor: pointer;
      }

      &:hover td {
        background-color: #f5f5f5;
      }  
    }
  }
}

#blast-canvas-container {
  left: 50%;

  .blast-canvas-header {
    line-height: 21px;
    height: 40px;
    border-bottom: 1px solid #ddd;
    padding: 8px 15px;
  }

  .sequence-canvas-wrapper {
    .scrolling-parent, .sequence-canvas-container {
      top: 40px;
      bottom: 3px;
    }
  }
}

.blast-canvas-match-bar {
  width: 150px;
  height: 10px;
  margin-top: 6px;
  margin-bottom: 0px;
  border-radius: 0;

  .progress-bar {
    min-width: 1px;
  }
}