.codon-selected {
  background: $brand-primary !important;

  &:focus {
    outline: none;
  }
}

button {
  font: 15px Monospace;
  color: "#bbb";
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  letter-spacing: 1px;

}

li {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

ul {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}


.canvas-overlay{
  pointer-events: none;
}