.designer {
  height: 100%;
}

.designer-designed-sequence-outlet {
  padding: 10px 20px;
  border-right: 2px solid #ddd;
  @include gradient-striped(rgba(255,255,255,.3)); // Bootstrap mixin
  background-size: 40px 40px;
  background-color: transparentize(#ddd, .5);
  position: absolute;
  left: 0;
  width: 300px;
  bottom: 0;
  top: 0;
  overflow-y: auto;

  .designer-designed-sequence-empty-placeholder {
    border: 3px dashed #ddd;
    color: #999;
    text-align: center;
    font-size: 1.1em;
    padding: 15px 30px;
    margin-top: 20px;

    &.active {
      color: $link-hover-color;
      border-color: $link-color;
    }
  }

  .designer-designed-sequence-chunks {
    margin-left: 50px;
  }

  .designer-designed-sequence-chunk {
    position: relative;
    background: red;
    color: white;
    box-sizing: border-box;
    font-size: 10px;
    text-align: center;
    border: 1px solid red;
    margin-bottom: 7px;

    .designer-designed-sequence-chunk-position {
      float: left;
      margin-left: -50px;
      font-size: 10px;
      color: #005;
      border-top: 1px solid #888;
      width: 42px;
      text-align: left;
      @include text-overflow()
    }    

    .designer-designed-sequence-chunk-title {
      padding: 5px 10px;
    }

    .designer-designed-sequence-chunk-droppable {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      &.active {
        @include linear-gradient(0deg, transparent, rgba(255,255,255,.7));
        &::before {
          content: "Insert before";
          display: block;
          position: absolute;
          top: 0;
          margin-top: -25px;
          left: 50%;
          margin-left: -50px;
          width: 100px;
          background: white;
          color: #888;
          padding: 3px 6px;
          border: 1px dashed #888;
          border-radius: 7px;
        }
      }
    }
    .designer-designed-sequence-chunk-droppable-after {
      top: auto;
      bottom: 0;
      &.active {
        @include linear-gradient(transparent, rgba(255,255,255,.7));
        &::before {
          top: auto;
          bottom: 0;
          margin-bottom: -25px;
          content: "Insert after";
          z-index: 1000;
        }
      }
    }

    &.designer-designed-sequence-chunk-empty {
      background: #ddd;
      color: #888;
      border: 1px solid #888;
    }
  }
}

.designer-available-sequences {
  position: absolute;
  left: 0;
  padding-left: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.designer-available-sequence-outlet {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;

  .designer-available-sequence {
    position: relative;
  }

  .designer-available-sequence-features {
    position: relative;
    border-left: 1px dashed #444;
    border-right: 1px dashed #444;
    margin-top: 10px;

    @for $i from 0 to 10 {
      &.designer-available-sequence-features-max-overlap-#{$i} {
        height: 16px + 27px * $i;
      }
    }
  }

  .designer-available-sequence-entireseq {
    position: relative;
    width: 200px;
    bottom: 30px;
  }

.designer-available-sequence-entireseqs {
    position: absolute;
    margin-left: -1px;
    background: #333;
    color: white;
    font-size: 10px;
    box-sizing: border-box;
    padding: 5px 3px;
    cursor: move;
    text-align: center;
     &.ui-draggable-dragging {
      padding: 5px 10px;
      background: #ddd;
      color: black;
      width: 100px !important;
      box-shadow: 0 0 3px transparentize(#222, .5);
      z-index: 2000;
    }
    }


  .designer-available-sequence-feature {
    position: absolute;
    margin-left: -1px;
    background: #333;
    color: white;
    font-size: 10px;
    box-sizing: border-box;
    padding: 5px 3px;
    cursor: move;
    text-align: center;

    &.ui-draggable-dragging {
      padding: 5px 10px;
      background: #ddd;
      color: black;
      width: 100px !important;
      box-shadow: 0 0 3px transparentize(#222, .5);
      z-index: 2000;
    }

    @for $i from 0 to 10 {
      &.designer-available-sequence-feature-stacked-#{$i} {
        top: 10px + 27px * $i;
      }
    }
  }
}