.home {
  .tab-content {
    border: 1px solid #ddd;
    margin-left: -30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 5px;
    min-height: 250px;
  }

  h3 { 
    font-size: 22px;
  }
  small,p {
    color: #333;
    font-size: inherit;
  }

  .tabs-left {
    border-color: red;
    border-right: 0;

    li.active a {
      border-right-color: white;
      z-index: 1;
    }
  }


  .fullscreen {
    .hide-on-fullscreen {
      display: none;
    }

    .show-on-fullscreen {
      display: inline;

      a {
        cursor: pointer;
      }
    }
  }

  .hide-on-fullscreen {
    display: inline;
  }

  .show-on-fullscreen {
    display: none;
  }

  .home-new-sequence-container {
    border-right: 1px solid #DDD;
    margin-right: 8px;
    width: 100%;
  }
}
