#navbar .navbar {
  margin-bottom: 0;
  background: #e5e5e5;
  border-bottom: 1px solid #ddd;
}

#menu-button {
  display: block;
  float: left;
  border: none;
  border-right: 1px solid #ddd;
  border-radius: 0;
  margin: 0 10px 0 -15px;
  height: 50px;
  width: 50px;
  padding: 14px;
  background: white;

  &:hover { background-color: #ddd; }
  &.active {
    background: #3276b1;
    .icon-bar { background-color: white; }
    &:hover { background-color: #3276b1; }
  }
}

#sequence-tabs {
  border: none;
  margin-top: 6px;

  & > li {
    min-width: 30px;
    &>a {
      height: 45px;
      padding-top: 9px;
      padding-right: 25px;
      border-bottom: 1px solid #ddd;
      white-space: nowrap;
      line-height: 1em;
      @include text-overflow();

      & > small.details {
        font-size: 10px;
      }
    }

    &.hidden-tabs-dropdown {
      min-width: 0;
    }

    &.dropdown ul {
      max-width: 300px;
      li a {
        @include text-overflow();
      }
    }
    
  }

  .close-sequence {
    float: right;
    cursor: pointer;
    margin-right: -16px;
    margin-left: 5px;
    margin-top: 1px;
  }
}