.pcr, #pcr-list-outer-container, #pcr-canvas-container {
  @extend %primary-view-panel;

  label {
    text-align: left;
  }
}

#pcr-list-outer-container {
  width: 50%;
  border-right: 1px solid #ddd;
}

#pcr-canvas-container {
  left: 50%;
  overflow: hidden;
}

.rdp-edit-arrow {
  $color: #666;
  $padding: 180px;

  float: left;
  width: 100%;
  height: 2px;
  margin: 40px (-$padding) 0 (- $padding);
  padding: 0 ($padding + 10px);
  position: relative;

  &:after {
    display: block;
    content: "";
    background: $color;
    height: 2px;
    width: 100%;
  }

  &:before {
    content: "";
    display: block;
    border-left: 10px solid $color;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    width: 10px;
    height: 0px;
    margin-top: -4px;
    position: absolute;
    right: $padding;
  }
}

.edit-canvas-outlets-container {
  overflow: hidden;
}
.edit-canvas-outlet {
  width: 175px;
  float: left;
  height: 95px;
  margin-top: -15px;
  overflow: hidden;
  pointer-events: none;
  canvas {
    background-color: rgb(236, 236, 236);
  }
  .scrolling-parent {
    overflow: hidden !important;
  }
}

.pcr-product {
  table, table small {
    font-size: 11.9px;
  }
}
   