.pcr, #pcr-list-outer-container, .pcr-canvas-container {
  @extend %primary-view-panel;

  label {
    text-align: left;
  }
}

#pcr-list-outer-container {
  width: 50%;
  border-right: 1px solid #ddd;
}

.pcr-canvas-container {
  left: 50%;
  overflow: hidden;

  &.half {
    height: 50%;
  }

  &.bottom {
    top: 50%;
    border-top: 1px solid #ddd;
  }
}

.pcr-product {
  table, table small {
    font-size: 11.9px;
  }
}
   