.sequence-view {
  position: relative;
  height: 100%;
  width: 100%;
}

#sequence-primary-view-outlet {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.sequence-canvas-wrapper {
  .sequence-canvas-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    canvas.sequence-canvas {
      width: 100%;
      height: 100%;
    }
  }

  .scrolling-parent {
    position: absolute;
    right: 0;
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background: transparent;
    cursor: text;
    &:focus {
      outline: none;
    }
  }
}

