.sequencing-primers, 
.sequencing-primers-products-outer-container, 
.sequencing-primers-canvas-container {
  @extend %primary-view-panel;
}

.sequencing-primers-products-outer-container {
  border-right: 1px solid #ddd;
  width: 50%;
}

.sequencing-primers-canvas-container {
  left: 50%;
}



