.sequence-view {
  position: relative;
  height: 100%;
  width: 100%;
}

#sequence-primary-view-outlet {
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  background: white;

  &.maximize {
    left: 0 !important;
    top: 0 !important;
    z-index: 1;
  }
}

.sequence-canvas-wrapper {
  .sequence-canvas-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 0;

    canvas.sequence-canvas {
      width: 100%;
      height: 100%;
    }
  }

  .scrolling-parent {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background: transparent;
    cursor: text;
    &:focus {
      outline: none;
    }
  }
}

.sequence-statusbar-outlet {
  position: absolute;
  top: 0;
  width: 100%;
}

.sequence-matched-enzymes-outlet {
  position: absolute;
  left: 50px;
  right: 0;
  top: 30px;
  height: 30px;
  background: white;
  border-bottom: 1px solid #ddd;
  padding: 5px 19px;
}
