.sequence-view, #sequence-primary-view-outlet {
  position: relative;
  height: 100%;
}

// #sequence-primary-view-outlet {
//   position: absolute;
//   right: 0;
// }

.sequence-canvas-wrapper {
  .sequence-canvas-container {
    position: fixed;
    left: 50px;
    right: 0;
    top: 51px;
    bottom: 0;

    canvas.sequence-canvas {
      width: 100%;
      height: 100%;
    }
  }

  .scrolling-parent {
    position: absolute;
    right: 0;
    height: 100%;
    left: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: transparent;
    cursor: text;
    &:focus {
      outline: none;
    }
  }
}

