@import '_short_sequence_view';

.sequencing-primers, 
.sequencing-primers-products-outer-container, 
.sequencing-primers-canvas-container {
  @extend %primary-view-panel;
}

.sequencing-primers-products-outer-container {
  border-right: 1px solid #ddd;
  width: 50%;
}

.sequencing-primers-canvas-container {
  left: 50%;
}

.sequencing-primers-product-missing {
  background-color: $state-danger-bg;
}

.sequencing-primers-product-missing {
  table tr td {
    line-height: 0;
  }
}

