
.short-sequence {
  cursor: pointer;

  &:hover {
    background-color: #F5F5F5;
  }

  .show-sequence {
    color: #A4A5A8;
    font-weight: normal;
    display: inline-block;
    height: 13px;
    width: 55px;
  }

  &.active {
    background-color: #D8ECF5;

    .show-sequence {
      font-weight: bold;
      color: $gray-dark;
    }
  }
}


.short-sequence {
  table tr td {
    line-height: 0;
  }
}

