.sidebar > div {
  position: absolute;
  top: 0px;
  bottom: 21px;
  width: 50px;
  border-right: 1px solid #ddd; 
  overflow-x: hidden;
  overflow-y: scroll;
  &.hovered {
    overflow-x: visible;
    overflow-y: inherit;
  }
  background: #e5e5e5;
  @include user-select(none);

  .sidebar-tab-link {
    display: block;
    color: #888;
    padding: 5px 10px 5px 15px;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    background: white;
    & > i {
      font-size: 1.3em;
      float: left;
    }
    & > span {
      display: none;
    }
    &:hover, &.hovered { background: #ddd; }
    &.active {
      background: #3276b1; 
      color: white;
      border-bottom-color: white;
      & > span {
        display: inline;
      }
    }
  }

  & > div {
    position: relative;
  }

  .sidebar-tab {
    display: none;
    border-bottom: 2px solid #ddd;
    padding: 10px;
    background: white;
    font-size: .9em;

    .sidebar-popout-title {
      font-size: 15px;
      color: #888;
      display: none;
      margin-top: -5px;
      margin-bottom: 10px;
    }

    &.active, &.hovered { 
      display: block; 
      overflow-y: auto;

      &.max-heighted {
        max-height: 400px;
      }
    }

    &.hovered {
      display: block;
      position: absolute;
      width: 330px;
      top: -1px;
      left: 50px;
      z-index: 10000;
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
      overflow-x: hidden;
      .sidebar-popout-title {
        display: block;
      }
    }

    dl {
      dt {
        width: 85px;
        text-align: left;
      }
      dd {
        margin-left: 90px;
        .floating {
          float: left;
          margin-top: 0 !important;
          margin-bottom: 5px !important;
          min-height: 0;
          height: 17px;
          &.floating-half {
            width: 50%;
          }
          &.floating-fifth {
            width: 20%;
          }
          &.floating-third {
            width: 33%;
          }
        }
      }
    }

    kbd {
      word-break: break-word;
      display: inline-block;
      max-width: 150px;
      @include text-overflow();
      &[title] {
        cursor: help;
      }
    }

    .table-less-borders tbody tr {
      &:first-child td {
        border-top: none;
      }
    }

    td {
      vertical-align: middle;
    }

    .list-group-item {
      border-radius: 0;
      border-left: none;
      border-right: none;
      &:first-child {
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
      }
      .list-group-item-heading {
        word-break: break-word;
      }
    }

  }

  &.active {
    width: 350px;
    .sidebar-tab-link {
      & > span {
        display: inline;
      }
    }
  }
}