.statusbar {
  height: 20px;
  font-size: 11px;
  background-color:  #e5e5e5;
  border-top: 1px solid #ddd;

  .statusbar-section {
    background: white;
    padding: 2px 10px 2px 10px;
    border-right: 1px solid #ddd;
    float: left;
  } 

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}