<div id="main_blurb">

<div style='max-width:800px'>
<h2>Welcome to GENtle V2!</h2>
<p>To get started, load one or more DNA sequences. You can load files from disk, drag files from disk onto the drop area, manually inputing them, or load a sequence from NCBI via an NCBI ID. Currently, GenBank, FASTA, and plain text file formats are supported.</p>
<p>Once a sequence is loaded, you can edit it by double-clicking on a base. Exit edit mode by double clicking off the canvas or pressing <tt>Esc</tt>.</p>
<p>Also, you can then manage plugins (see upper right corner), and even add/remove third-party plugins from the web or your own hard disk!</p>
<p>When you leave this page, or close the tab or your browser window, all plugins, sequences, settings, and your changes will be stored in your browser, and reappear the next time you visit this page.</p>
<p>You can get more information <a target='_blank' href='public/templates/help.html'>here</a>.</p>

<div id='video_tutorials_target'>
<button class='btn' onclick='$("#video_tutorials_target").load("public/templates/video_tutorials.html"+(gentle_config.plugin_timestamp ? '?'+gentle_config.plugin_timestamp : '')); return false'>Click here for video tutorials</button>
</div>

<br/>
</div>

</div>
