<!DOCTYPE html>
<html>

<head>
<title>GENtle 2</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="public/main.css" />
</head>

<body>
<h1>GENtle help</h1>

<h2 name='plugins'>Plugins</h2>
<h3>Managing plugins</h3>
<p>You can add plugins from anywhere on your hard disk, or on the web. Just click on "Manage plugins", enter the URL of the JavaScript file containing the plugin, and click "Add plugin".
Done! You can remove the plugin at any time. Plugins will be remembered across sessions.</p>
<h3>Writing new plugins</h3>
<p>If you know JavaScript (and preferably <a href='http://jquery.com/'>jQuery</a>), writing new plugins for GENtle is easy!</p>
<pre class='jscode'>
// Your new plugin class, based on <a href='/plugins.js'>Plugin</a>.
MyPlugin.prototype = new Plugin() ;
MyPlugin.prototype.constructor = MyPlugin ;
MyPlugin.prototype.myMethod = function () {} // Some code to be executed on-demand later
function MyPlugin () {
	this.name = 'my_plugin' ; // Name needs to be set here, preferably all-lowercase, no spaces.
}

// Register your plugin (mandatory).
plugins.registerPlugin ( {
	className : 'MyPlugin' , // Your plugin class name from above
	url : 'plugins/find_in_sequence.js' // Your plugin URL; mandatory for automatically loading the plugin in the next session
} ) ;

// Register your plugin as a sequence-type-specific tool (optional). It will show up in the right side bar. You can register the same plugin for multiple sequence types.
plugins.registerAsTool ( {
	className : 'MyPlugin' , // Your plugin class name from above
	module : 'dna' , // Which sequence type this tool applies to
	section : 'sequence' ,  // The section in the right side bar
	call : 'myMethod' ,  // Which method in your class to call when the user clicks the link
	linkTitle : 'Do stuff' // The text of the link in the side bar
} ) ;
</pre>
<p>As a working example plugin, the "find in sequence" functionality has been implemented as a plugin. You can see the code <a href='/plugins/find_in_sequence.js'>here</a>.</p>

</body>

</html>
