<div class="modal" id="help_dialog" >
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Help</h3>
    </div>
    <div class="modal-body">
    	<h4>Video tutorials</h4>
    	<ul class="nav nav-list">
	    	<li><a target="_blank" href="http://youtu.be/_tKTddbeGMs?hd=1">Load DNA</a></li>
	    	<li><a target="_blank" href="http://youtu.be/4jirSH8yNX8?hd=1">Edit DNA</a></li>
	    	<li><a target="_blank" href="http://youtu.be/36aTelwzKBM?hd=1">Find DNA</a></li>
	    	<li><a target="_blank" href="http://youtu.be/taa6LP5WPlI?hd=1">Annotation</a></li>
	    </ul>
    </div>
  </div>
</div>
