<div class="modal" id="selection_info_dialog" >
	<div class="modal-header">
		<a class="close" data-dismiss="modal"></a>
		<h3>Selection Info</h3>
	</div>
	<div class="modal-body" id="selection_info_container">
		<table cellspacing=2 cellpadding=2>
			<tr>
				<th>Range</th>
				<td><span id="selection_info_from"> - <div id="selection_info_to"></div></td>
			</tr>
			<tr>
				<th>Length</th>
				<td id="selection_info_length"></td>
			</tr>
		</table>

		<h2>Contents</h2>

		<div id="selection_info_tallies"></div>
	</div>
</div>
