<h2>Video tutorials</h2>

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
	<li class="active"><a href="#default_main_1" data-toggle="tab">Load DNA</a></li>
	<li><a href="#default_main_2" data-toggle="tab">Edit DNA</a></li>
	<li><a href="#default_main_3" data-toggle="tab">Find DNA</a></li>
	<li><a href="#default_main_4" data-toggle="tab">Annotation</a></li>
	<li><a href="#default_main_5" data-toggle="tab">Display options</a></li>
	<li><a href="#default_main_6" data-toggle="tab">Saving</a></li>
	<li><a href="#default_main_7" data-toggle="tab">Plugins</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="default_main_1"><iframe width="560" height="315" src="http://www.youtube.com/embed/_tKTddbeGMs" frameborder="0" allowfullscreen></iframe></div>
    <div class="tab-pane" id="default_main_2"><iframe width="560" height="315" src="http://www.youtube.com/embed/4jirSH8yNX8" frameborder="0" allowfullscreen></iframe></div>
    <div class="tab-pane" id="default_main_3"><iframe width="560" height="315" src="http://www.youtube.com/embed/36aTelwzKBM" frameborder="0" allowfullscreen></iframe></div>
    <div class="tab-pane" id="default_main_4"><iframe width="560" height="315" src="http://www.youtube.com/embed/taa6LP5WPlI" frameborder="0" allowfullscreen></iframe></div>
    <div class="tab-pane" id="default_main_5"><iframe width="560" height="315" src="http://www.youtube.com/embed/eBwSPP6m6vU" frameborder="0" allowfullscreen></iframe></div>
    <div class="tab-pane" id="default_main_6"><iframe width="560" height="315" src="http://www.youtube.com/embed/Oq4xRLHknXQ" frameborder="0" allowfullscreen></iframe></div>
    <div class="tab-pane" id="default_main_7"><iframe width="560" height="315" src="http://www.youtube.com/embed/J0Cuyiz4qkY" frameborder="0" allowfullscreen></iframe></div>
  </div>
</div>
