$icon-font-path: '../vendor/bootstrap/fonts/';

// Libraries
@import '../vendor/bootstrap/css/bootstrap.scss';

// Shared styles
@import '../scripts/styles.scss';

// // Views
@import "views/*";
@import "views/shared/*";

// // Components
@import "components/*";

// // Animations
@import "animations/*";


body {
  margin: 0;
}

#content {
  position: absolute;
  width: 100%;
  top: 51px;
  bottom: 0;
}
.container-special {
  margin-left: 50px;
  max-width: 1024px;
}

.noscroll {
  overflow: hidden;
}

.tooltip {
  word-break: break-word;
}

.no-margin {
  margin: 0 !important;
}

.navbar[unselectable] {
  @include user-select(none);
}

@for $i from 1 to 6 {
  .separator-#{$i} {
    display: block;
    margin-bottom: $i * .6em;
  }  
}

.separator { @extend .separator-1 }


