$icon-font-path: '../vendor/bootstrap/fonts/';

// Libraries
@import 'bourbon';
@import '../vendor/bootstrap/css/bootstrap.scss';

// Views
@import 'views/_sequence_view';
@import 'views/_sidebar_view';
@import 'views/_navbar_view';

// Components
@import 'components/_context_menu';
@import 'components/_intro_loader';
@import 'components/_linear_map';
@import 'components/_caret';

// Animations
@import 'animations/_full_rotation';
@import 'animations/_blink';

body {
  margin: 0;
}

#content {
  position: absolute;
  width: 100%;
  top: 51px;
  bottom: 0;
}
.container-special {
  margin-left: 50px;
  max-width: 1024px;
}

.noscroll {
  overflow: hidden;
}

.tooltip {
  word-break: break-word;
}

.no-margin {
  margin: 0 !important;
}

.navbar[unselectable] {
  @include user-select(none);
}

