.caret {
  position: absolute;
  margin-top: -8px;
  margin-left: -5px;

  .caret-caret {
    width: 12px;
    height: 17px;
    background: rgba(0,0,255,0.25f);
    //border: 1px solid white;
    border-left: 1px solid black;
    padding-left: 1px;


    &.caret-blinking {
      @include animation(blink 1s linear infinite);
    }
  }

  .caret-info {
    background: black;
    color: white;
    padding: 2px;
    left: -3px;
    right: auto;
    position: absolute;
    font-size: 9px;
    border-radius: 3px;
    white-space: nowrap;
    top: -19px;
    border: 1px solid white;
    border-bottom: none;
    max-width: 200px;
    width: auto;
  }
}