#chromatograph_map_canvas {
  height: 100px;
  width: 100%;
}

.chromatograph-map-cursor {
  position: absolute;
  height: 100%;
  width: 1px;
  left: 0;

  .cursor-marker {
    width: 100%;
    height: 100%;

    background-color: black;
    border: 1px solid black;
    opacity: 0.3;
  }

  .cursor-start {
    z-index: 100;

    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    margin: 3px;
    padding: 2px;
    color: black;
  }

}

.chromatograph-map {
  position: fixed;

  left: 50px;
  right: 0;
  height: 170px;

  background-color: white;

  &.open {
    height: 300px;
  }

  overflow: hidden;
  border-bottom: 20px solid #e5e5e5;

  .chromatograph-toggle-dropdown {
    height: 50px;
    width: 50px;
    background-color: "grey";
    position: absolute;
    right: 0;
    top: 0;

  }

  .chromatograph-map-defect-mark {
    position: absolute;

    top: 30px;

    height: 10px;
    width: 10px;
    background-color: red;
  }

  .chromatograph-map-defect-mark:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0; height: 0;
    border-top: 5px solid red;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

  .chromatograph-map-fragment {
    position: relative;

    height: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    background-color: #909093;

    &:hover {
      background-color: #488fb2;
    }

    &.main-sequence {
      width: 100%;
      background-color: #202022;
    }
  }


  .chromatograph-map-visible-range {
    top: 0;
    height: 100%;
  }

  // .chromatograph-map-canvas {
  //   height: 100%;
  //   position: absolute;
  // }

  // .chromatograph-map-visible-range {
  //   position: absolute;
  //   background: rgba(20,20,20, .1);
  //   cursor: move;
  // }

  .chromatograph-map-features {
    position: absolute;
    right: 0;
    $__colors: map_get(map_get(map_get(map_get($shared-styles, "sequences"), "lines"), "features"), "color");

    .chromatograph-map-feature {
      cursor: pointer;
      font-size: 10px;
      box-sizing: border-box;
      padding: 1px 2px;
      position: absolute;
      @include text-overflow();
      background: map_get(map_get($__colors, '_default'), 'fill');
      color: map_get(map_get($__colors, '_default'), 'color');
      text-align: center;
      text-transform: uppercase;
      white-space: nowrap;
      border: 1px solid white;
      transform: rotate(90deg);
      transform-origin: top left;
      // TODO: IE8 vertical text

      @for $i from 0 to 4 {
        &.chromatograph-map-feature-stacked-#{$i} {
          left: -2px - 17px * $i;
        }
      }

      @each $feature-type, $v in $__colors {
        @if $feature-type != '_default' {
          &.chromatograph-map-feature-#{$feature-type} {
            color: map_get($v, 'color');
            background: map_get($v, 'fill');
          }
        }
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .chromatograph-map-position-marks {
    position: absolute;
    top: 0;

    @include user-select(none);
    cursor: default;
    .chromatograph-map-position-mark {

      position: absolute;
      font-family: Monospace;
      font-size: 10px;
      color: #005;

      border-left: 1px solid #888;
      &:first-child {
        border-left: none;
      }

    }
  }

  $res-color: map_get(map_get(map_get(map_get(map_get($shared-styles, 'sequences'), 'lines'), 'RES'), 'text'), 'color');

  .chromatograph-map-enzymes {
    position: relative;
    height: 100%;
    z-index: 1;
  }

  .chromatograph-map-enzyme {
    position: absolute;
    left: 0;
    font: 10px Monospace;
    color: $res-color;

    & > span {
      display: inline-block;
      margin-left: 40px;
      background: white;
      border-radius: 2px;
      padding: 0 3px 1px 3px;
      box-shadow: 1px 1px 0 #ddd;
      @include text-overflow();
    }

    &:before {
      display: block;
      content: "";
      width: 38px;
      margin-bottom: -8px;
      border-bottom: 1px dashed $res-color;
    }
  }
}
