.context-menu {
  position: absolute;
  z-index: 1000;
  white-space: nowrap;

  border-radius: 3px;
  @include box-shadow(0 6px 12px rgba(0, 0, 0, 0.175));

  .menu-item {
    width: 150px;
  }

  .dropdown-menu {
    .menu-item {
      width: 177px;
    }
  }

  &.stick-to-right {
    left: inherit !important;
    right: 10px;
  }

  .btn-group {
    & > .btn {
      float: none;
      display: inline-block;
    }

    & > .dropdown-toggle {
      margin-left: -5px !important;
    }
  }

  &.open {

    &.no-dropup {
      & > .btn {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      & > .dropdown-menu {
        border-color: rgb(173, 173, 173);
        margin-top: -1px;

        &.no-pull-right {
          border-top-left-radius: 0;
        }

        &.pull-right {
          border-top-right-radius: 0;
        }
      }
    }

     &.dropup {
      & > .btn {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      & > .dropdown-menu {
        border-color: rgb(173, 173, 173);
        margin-bottom: -1px;

        &.no-pull-right {
          border-bottom-left-radius: 0;
        }

        &.pull-right {
          border-bottom-right-radius: 0;
        }
      }
    }
  }
}
