
#intro-loader {
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.loader {
  text-align: center;
  i {
    margin-left: 20px;
    vertical-align: -10%;
    @include animation(full-rotation ease-in-out 1s infinite)
  }
}