.linear-map {
  position: fixed;
  top: 51px;
  right: 0;
  bottom: 21px;
  width: 150px;

  .linear-map-canvas {
    height: 100%;
    position: absolute;
  }

  .linear-map-visible-range {
    position: absolute;
    left: 0;
    width: 100%;
    background: rgba(20,20,20, .1);
    cursor: move;
  }

  .linear-map-features {
    position: absolute;
    right: 0;
    $__colors: map_get(map_get(map_get(map_get($shared-styles, "sequences"), "lines"), "features"), "color");

    .linear-map-feature {
      cursor: pointer;
      font-size: 10px;
      box-sizing: border-box;
      padding: 1px 2px;
      position: absolute;
      @include text-overflow();
      background: map_get(map_get($__colors, '_default'), 'fill');
      color: map_get(map_get($__colors, '_default'), 'color');
      text-align: center;
      text-transform: uppercase;
      white-space: nowrap;
      border: 1px solid white;
      @include transform(rotate(90deg));
      @include transform-origin(top left);
      // TODO: IE8 vertical text

      @for $i from 0 to 4 {
        &.linear-map-feature-stacked-#{$i} {
          left: -2px - 17px * $i;
        }
      }

      @each $feature_type, $v in $__colors {
        @if $feature_type != '_default' {
          &.linear-map-feature-#{$feature_type} {
            color: map_get($v, 'color');
            background: map_get($v, 'fill');
          }
        }
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .linear-map-position-marks {
    @include user-select(none);
    cursor: default;
    .linear-map-position-mark {

      position: absolute;
      font-family: Monospace;
      font-size: 10px;
      color: #005;
      border-top: 1px solid #888;
      &:first-child {
        border-top: none;
      }
    }
  }
}