.plasmid-map {
  position: fixed;
  top: 81px;
  right: 0px;
  bottom: 0px;
  width: 500px;

  .plasmid-map-canvas {
    height: 100%;
    width: 500px;
    position: absolute;
    z-index: 3000;
  }
}