.results-container{
 margin-top: 5px;

.search-results {
 overflow: scroll;
 height: 200px;
 width: 314px;
}
.search-results-features {
 overflow: scroll;
 height: 200px;
 float: left;
 width: 155px;
}
.feature-name{
 margin-left: 6px;	
}

.dna-text{
 float:left;
 margin-top: 10px;	
}

ranges{
 margin-top: 5px;
}
}