.results-container{
 margin-top: 5px;
 height: 200px;

.search-results {
 overflow: scroll;
 height: 200px;
 width: 314px;
 margin-top: 60px;
}

.search-results-features {
 overflow: scroll;
 height: 200px;
 float: left;
 width: 155px;
}
.feature-name{
 float: left;	
 margin-top: 10px;
}

.dna-text{
 float:left;
 margin-top: 10px;	
}

.ranges{
 margin-top: 5px;
}

}

.features-search-results{
	margin-top: 20px;
	margin-left: 10px;
	float: left;
}

.sequence-search-results{
	margin-top: 20px;
	margin-left: 10px;
	float: left;
}