.gentle-tooltip {
  position: absolute;
  z-index: 2000;
  top: 0;
  pointer-events: none;
  opacity: 1;
  // transition: opacity .1s ease-in-out;

  // margin: 10px 0 0 10px;
  font-size: 12px;
  line-height: 17px;
  padding: 3px 5px 2px 5px;
  border-radius: 2px;
  background-color: #F5F4F4;
  border: 1px solid #ccc;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  max-width: 200px;
  word-wrap: break-word;

  &.gentle-tooltip-hidden {
    opacity: 0;
  }

  &.gentle-tooltip-top {
    margin-top: -100%;
  }
}