.sequence-view {
  position: relative;
  height: 100%;
}

.sequence-canvas-container {
  position: fixed;
  width: 100%;
  top: 51px;
  bottom: 0;

  canvas.sequence-canvas {
    width: 100%;
    height: 100%;
  }
}




.scrolling-parent {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: transparent;
  cursor: text;
}

