<div class='sequence-sidebar'>
</div>
<div class='sequence-canvas-wrapper'>
  <div id="sequence-canvas-context-menu-outlet"></div>
  <div class='sequence-canvas-container'>
    <canvas id='canvas_{{id}}' class='sequence-canvas' />
  </div>
  <div class='scrolling-parent' tabindex='1'>
    <div class='scrolling-child'></div>
  </div>
</div>