<div class="caret {{className}}">
  <div class="caret-caret{{#if blinking}} caret-blinking{{/if}}"></div>
  <div class="caret-info"></div>
  <div class="caret-line" style ="
    display: none;
    height: 100px;
    background-color: black;
    width: 1px;
    top: -100px;
    left: 6px;
    position: absolute;
    "></div>
</div>
