<div class="input-group" style="width: 100%;">
  <div class="input-group-addon">
    <i class="glyphicon glyphicon-link"> </i>
  </div>
  <input type="text" class="copy-sequence input-sm" value="{{sequence}}" style="width: 90%" readonly />
</div>