<div class="input-group" style="width: 100%;">
  <div class="input-group-addon selectable-sequence-orientation">
    3' –
  </div>
  <input type="text" class="form-control selectable-sequence input-sm" value="{{sequence}}" readonly />
  <div class="input-group-addon selectable-sequence-orientation">
    – 5'
  </div>
</div>