<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close modal-cancel" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">{{title}}</h4>
      {{#if subTitle}}
        <div class="separator"></div>
        <span class="text-muted">{{subTitle}}</span>
      {{/if}}
    </div>
    <div class="modal-body">
    </div>
    {{#if displayFooter}}
      <div class="modal-footer text-center">
        <button class="btn btn-default modal-cancel">{{cancelLabel}}</button>
        <button class="btn btn-primary modal-confirm">{{confirmLabel}}</button>
      </div>
    {{/if}}
  </div>
</div>
