<div class="consensus-label" style="height: 95px;">
  <div>Consensus</div>
  <div style="padding-top: 30px;">Identity</div>
  <div style="padding-top: 10px;">Ref seq.</div>
</div>

{{#each fragmentLabels}}
  <div class="fragment-label" style="height: 95px; padding-top: 45px;">
    {{fragmentLabel}}
    {{name}}
  </div>
{{/each}}
