<form>
  <a href="#" class="btn btn-default">Add chromatograph fragment to sequence.</a>
  <input type="file" name="file" class="form-control" required="required" multiple style="display: none;"/>
</form>
