<label>
  <input type="checkbox" name="displaySettings.rows.features" value="true"/>
  Annotations
</label>

<br>
<label>
  <input type="checkbox" name="displaySettings.rows.res.display" value="false"/>
  Restriction enzyme sites
</label>

<br>
<label>
  <input type="checkbox" name="displaySettings.rows.complements" value="true"/>
  Complementary strand
</label>

<br>
<br>
<strong>
  Amino acids
</strong>

<div style="margin-left: 20px;">
  <div style="float: left; width: 30%">
    Labels:
    <br>
    <label>
      <input type="radio" name="displaySettings.rows.aa" value="none"/>
      None
    </label>
    <br>
    <label>
      <input type="radio" name="displaySettings.rows.aa" value="long"/>
      3 Letters
    </label>
    <br>
    <label>
      <input type="radio" name="displaySettings.rows.aa" value="short"/>
      1 Letter
    </label>
  </div>

  <div style="float: left; width: 30%;">
    Reading frame:
    <br>
    <label>
      <input type="radio" name="displaySettings.rows.aaOffset" value="0"/>
      0
    </label>
    <br>
    <label>
      <input type="radio" name="displaySettings.rows.aaOffset" value="1"/>
      +1
    </label>
    <br>
    <label>
      <input type="radio" name="displaySettings.rows.aaOffset" value="2"/>
      +2
    </label>
  </div>
</div>

<div class="clearfix"></div>

<br>
<strong>Rows</strong>
<br>
<label>
  <input type="checkbox" name="displaySettings.rows.numbering" value="true"/>
  Numbering
</label>
<br>
<label>
  <input type="checkbox" name="displaySettings.rows.separators" value="true"/>
  Spacing between rows
</label>
<br>
<label>
  <input type="checkbox" name="displaySettings.rows.hasGutters" value="true"/>
  Spacing every 10bp
</label>
