<div class="dropdown change-secondary-view" id="secondary-view-dropdown">
  <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
  Change Map
  <span class="glyphicon glyphicon-chevron-down"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="secondary-view-list">
  </ul>
</div>