<form class="form-horizontal" id="edit">
  <div class="form-group">
    <label for="export-formats" class="control-label col-sm-2">
      Format
    </label>
    <div class="col-sm-10">
      {{{select formats class="form-control input-sm" id="export-formats" name="export-formats"}}}
    </div>
  </div>
  {{#if isDesktopSafari}}
    <div class="alert alert-warning">
      Your browser might open a new tab instead of downloading the sequence.
      <br><br>
      You can still save the file by clicking <code>File > Save As...</code> or pressing
      <code>&#8984;-S</code>.
    </div>
  {{/if}}
  <button class="sequence-export-button btn btn-primary pull-right">
    Export file
  </button>
</form>