<form class="form-horizontal" id="edit">
  <div class="form-group">
    <label for="name"  class="control-label col-sm-3">Export As</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="name" value="{{exportName}}", placeholder="{{exportName}}, autofocus">
    </div>

  </div>
  <div class="form-group">
    <label for="export-formats" class="control-label col-sm-3">Format</label>
    <div class="col-sm-9">
      {{{select formats class="form-control input-sm" id="export-formats" name="export-formats"}}}
    </div>
  </div>
  <button class="sequence-export-button btn btn-primary pull-right">
    Export file
  </button>
</form>