<form class="form-horizontal">
  <div class="form-group">
    <label for="export-formats" class="control-label col-sm-2">
      Format
    </label>
    <div class="col-sm-10">
      {{{select formats class="form-control input-sm" id="export-formats" name="export-formats"}}}
    </div>
  </div>
  <button class="sequence-export-button btn btn-primary pull-right">
    Export file
  </button>
</form>