{{#if enzymesCount}}
  <small class="text-danger">
    <strong>
      {{pluralCount enzymesCount 'restriction enzyme site' 'restriction enzyme sites'}} found
    <strong>
  </small>
  &nbsp;&nbsp;

  <a href="#" class="next-enzyme btn btn-default btn-xs">Highlight next site</a>

  <a href="#" class="launch-modal btn btn-default btn-xs" {{#if disableButton}}disabled{{/if}} >Fix all BsaI/NotI sites</a>

{{else}}
  <small class="text-muted">Found 0 restriction enzyme site matching the settings</small>
{{/if}}

{{!-- &nbsp;&nbsp;
<a href="#" class="open-settings btn btn-default btn-xs">Edit settings</a> --}}


<div id="condonSubModalContainer">
</div>