{{#each replacements}}
  <div class="edit-canvas-outlets-container-lg">
    <div class="edit-canvas-outlet edit-canvas-outlet-{{@index}}-before" data-edit_type="{{type}}" data-edit_step="before"></div>
    <div class="edit-canvas-arrow"></div>
    <div class="edit-canvas-outlet edit-canvas-outlet-{{@index}}-after pull-right" data-edit_type="{{type}}" data-edit_step="after"></div>
    <div class="clearfix"></div>
    <br>
  </div>
{{/each}}