<div class="modal" id="condonSubModal"tabindex="-1">
    <div class="modal-dialog" style="width: 350px;" >
      <div class="modal-content">
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">  
              <span class="glyphicon glyphicon-remove close-sequence"></span>
          </button>
          <h4 class="modal-title">
            Fix all BsaI/NotI sites
          </h5>
          

        </div>
        
        <div class="modal-body" style="max-height: 450px; overflow-y: scroll;">
          
          <p  style="font-weight:normal;margin-top:15px;">
            The following codon(s) will be substituted to make this sequence into an RDP part.
          </p>

        
          <div class="row">
            <center>
              {{#each replacements}}
                <div class="row">
                  <div class="col-sm-12">
                    <div class='canvas-overlay'> 
                      <div class="sequence-canvas-outlet-{{@index}}" style="    width: 250px; position: relative;"></div>   
                    </div>
                  </div>

                  {{!-- <div class="col-sm-12">
                    <div class="codon-group" align="left" style="margin-left:70px;">
                      <br />
                    </div>
                  </div> --}}
                </div>

              {{/each}}
            </center>
          </div>
        </div>

        <div class="modal-footer" style="text-align: center;">         
          <button class="cancel btn btn-default" style="margin-bottom:5px !important;">
            Cancel
          </button>

          <button class="replace btn btn-default" style="margin-bottom:5px !important;">
            Replace
          </button>
        </div>
      </div>
    </div>

</div>

