{{#each enzymes}}
  <div class="checkbox floating floating-half">
    <label>
      <input type="checkbox" class="res-manual-list" value="{{name}}" name="displaySettings.rows.res.custom" />
      <code>{{name}}</code>
    </label>
  </div>
{{/each}}
<div class="clearfix"></div>