<div id="sequence-canvas-main">
  <div id="sequence-canvas-chromatograph-legend" class="chromatograph-canvas-legend"></div>
  <div class="sequence-canvas-outlet with-legend"></div>
</div>
<div id="sequence-canvas-secondary-view-switcher-outlet"></div>
<div id="sequence-canvas-secondary-view-outlet"></div>
{{!-- <div class="sequence-matched-enzymes-outlet"></div> --}}
