<table class="table">
  <tbody>
    {{#each results}}
      <tr>
        <td>{{name}}</td>
        <td style="word-wrap: break-word; word-break: break-all">{{result}} {{unit}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
