<div class="sequence-canvas-outlet"></div>
<div id="sequence-canvas-secondary-view-switcher-outlet"></div>
<div id="sequence-canvas-secondary-view-outlet"></div>
<div class="sequence-matched-enzymes-outlet"></div>
