<div id="sequence-primary-view-switcher-outlet"></div>
<div id="sequence-primary-view-outlet"></div>
<div class="sequence-sidebar sidebar" unselectable="on"></div>
<div class="sequence-statusbar-outlet"></div>
<div class="sequence-matched-enzymes-outlet"></div>