<div class="sequence-canvas-wrapper">
  <div class="sequence-canvas-container">
    <canvas id="canvas_{{id}}" class="sequence-canvas" />
  </div>
  <div class="scrolling-parent" tabindex="1">
    <div class="scrolling-child">
      <div id="sequence-canvas-context-menu-outlet"></div>
    </div>
  </div>
</div>
<div id="sequence-canvas-secondary-view-switcher-outlet"></div>
<div id="sequence-canvas-secondary-view-outlet"></div>
<div class="sequence-matched-enzymes-outlet"></div>
<div class="stop-codons-outlet"></div>