<form class="form form-horizontal">
  <dl class="dl-horizontal">
    <dt>Start</dt>
    <dd>
      <div class="container-fluid">
        <div class="form-group">
          <div class="checkbox no-margin">
            <label>
              <input type="checkbox" id="stickyEnd_start_enabled" value="true">
              Has sticky end at beginning of sequence
            </label>
          </div>      
        </div>

        <div class="form-group">
          <label for="stickyEnd_start_name" class="col-sm-3 control-label">Name</label>
          <div class="col-sm-9">
            <input type="text" id="stickyEnd_start_name" name="stickyEnd_start_name" class="form-control input-sm" placeholder="Name">     
          </div>
        </div>
        
        <div class="form-group">
          <label for="stickyEnd_start_size" class="col-sm-3 control-label">Size</label>
          <div class="col-sm-9">
            <input type="number" id="stickyEnd_start_size" name="stickyEnd_start_size" class="form-control input-sm" placeholder="size"> 
          </div>
        </div>

        <div class="form-group">
          <label for="stickyEnd_start_offset" class="col-sm-3 control-label">Offset</label>
          <div class="col-sm-9">
            <input type="number" id="stickyEnd_start_offset" name="stickyEnd_start_offset" class="form-control input-sm" placeholder="offset"> 
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox no-margin">
            <label>
              <input type="checkbox" id="stickyEnd_start_reverse" value="true">
              On reverse strand?
            </label>
          </div>
        </div>
      </div>    
      <br>
    </dd>

    <dt>End</dt>
    <dd>
      <div class="container-fluid">
        <div class="form-group">
          <div class="checkbox no-margin">
            <label>
              <input type="checkbox" id="stickyEnd_end_enabled" value="true">
              Has sticky end at the end of the sequence
            </label>
          </div>      
        </div>

        <div class="form-group">
          <label for="stickyEnd_end_name" class="col-sm-3 control-label">Name</label>
          <div class="col-sm-9">
            <input type="text" id="stickyEnd_end_name" name="stickyEnd_end_name" class="form-control input-sm" placeholder="Name">     
          </div>
        </div>
        
        <div class="form-group">
          <label for="stickyEnd_end_size" class="col-sm-3 control-label">Size</label>
          <div class="col-sm-9">
            <input type="number" id="stickyEnd_end_size" name="stickyEnd_end_size" class="form-control input-sm" placeholder="size"> 
          </div>
        </div>

        <div class="form-group">
          <label for="stickyEnd_end_offset" class="col-sm-3 control-label">Offset</label>
          <div class="col-sm-9">
            <input type="number" id="stickyEnd_end_offset" name="stickyEnd_end_offset" class="form-control input-sm" placeholder="offset"> 
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox no-margin">
            <label>
              <input type="checkbox" id="stickyEnd_end_reverse" value="true">
              On reverse strand?
            </label>
          </div>
        </div>
      </div>
    </dd>
  </dl>
</form>