<div class="modal" id="aad_annotation_dialog" >
	<div class="modal-header">
		<a class="close" data-dismiss="modal"></a>
		<h3>Add annotation</h3>
	</div>
	<div class="modal-body" id="aad_annotation_form">
		<table border=0>
			<tr><td>Range</td><td><span id='aad_from' /> &ndash; <span id='aad_to' /></td></tr>
			<tr><td>Type</td><td><select id='aad_type'></select></td></tr>
			<tr><td>Name</td><td><input type='text' size='50' id='aad_name' /></td></tr>
			<tr><td>Description</td><td><textarea id='aad_desc' rows=5 cols=50></textarea></td></tr>
		</table>
		<input type="submit" value='Add annotation' />
	</div>
</div>
