<div class="consensus-label" style="height: 95px;">
  <div>Consensus</div>
  <div style="padding-top: 30px;">Identity</div>
  <div style="padding-top: 10px;">Ref seq.</div>
</div>

{{#each fragmentLabels}}
  <div class="fragment-label" style="height: 95px; padding-top: 45px;" data-index="{{index}}">
    <div>
      {{fragmentLabel}}
      {{name}}
    </div>
    <div>
      {{#if isComplement}}
        3' <span class="glyphicon glyphicon-arrow-right"></span> 5'
      {{else}}
        5' <span class="glyphicon glyphicon-arrow-right"></span> 3'
      {{/if}}
    </div>
    <div>
      <span class="glyphicon glyphicon-refresh clickable flip-button"></span>
      <span class="glyphicon glyphicon-trash clickable remove-button"></span>
    </div>
  </div>
{{/each}}
