<div class="chromatograph-import-wrapper" style="position: absolute; height: 100%; width: 100%; background-color: white; z-index: 100;">
  <div class="chromatograph-import-prompt" style="padding-top: 50px; width: 400px; margin:auto;"></div>
</div>
<div id="sequence-canvas-main">
  <div id="sequence-canvas-chromatograph-legend" class="chromatograph-canvas-legend"></div>
  <div class="sequence-canvas-outlet with-legend"></div>
</div>
<div id="sequence-canvas-secondary-view-switcher-outlet"></div>
<div id="sequence-canvas-secondary-view-outlet"></div>
{{!-- <div class="sequence-matched-enzymes-outlet"></div> --}}
